:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
}


.form {
  margin: 32px auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 8px;
  margin-bottom: 20px;
}

.form input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #363535;
  border-radius: 4px;
  width: 240px;
  height: 24px;
  background: #fff;
  border: 1px solid #808080;
  padding: 8px 16px 8px 16px;
}

.form input:hover {
  border: 1px solid #000;
}

.form input:focus {
  border: 1px solid #4e75ff;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #808080;
}

.form button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
}

.form button:hover {
  background: #6c8cff;
}

.gallery-container {
  margin-bottom: 50px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0 156px;
}

.gallery-link {
  border: 1px solid #808080;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.gallery-item {
  width: 360px;
  height: 200px;
  display: block;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  cursor: pointer;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 4px 20px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.info-list {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.info-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

.info-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}